body{
    margin: ;
}
.main
{
    
    height: 70%;
    width: 90%;
}
.div1
{
    background-color: aqua;
    width: 500px;
    height: 300px;
    position: relative;
    

    

    

    
    
}
.div2
{
    background-color: black;
    width: 500px;
    
    left: 50px;
    height: 300px;
   

   
    

}